* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;

}

.map-container {
    width: 620px;
    height: 600px;
    display: inline-block;
    border: 1px solid #000000;
}

.data-display {
    display: inline-block;
    margin-left: 5px;
    height: 600px;
    width: 600px;
}

.land {
    fill: #cccccc;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}

.rt-1 {
    fill: #afd1e3;
}
.rt-2 {
    fill: #7fb6d2;
}
.rt-3 {
    fill: #509bc2;
}
.rt-4 {
    fill: #427f9f;
}
.rt-5 {
    fill: #33637c;
}

.land:hover {
    fill: #9F0000;
}

.selected {
    fill: #590000;
}

.selected:hover {
    fill: rgba(112, 0, 0, 0.60);
}

.btn {
    background-color: #cccccc;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
}

.btn-blue {
    background-color: rgb(80, 151, 252);    
}

.generated-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}

/* AUTOCOMPLETE */
.typeahead {
    width: 306px;
    height: 20px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

#custom-templates .empty-message {
    padding: 5px 10px;
    
    text-align: center;
}

.tt-menu {
    width: 306px;
    margin: 12px 0;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
/* AUTOCOMPLETE END*/
